<div class="fp-box">
    <app-logo-inicio></app-logo-inicio>
    <div class="card">
        <div class="body">
            <form id="forgot_password" method="POST">
                <div class="msg">
                    Ingresa el Email con el que te registraste.
                    Te enviaremos una contraseña temporal para que puedas acceder al sitio y puedas cambiar la
                    contraseña.
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">email</i>
                    </span>
                    <div class="form-line">
                        <input type="email" class="form-control" name="email" placeholder="Email" required autofocus>
                    </div>
                </div>

                <button class="btn btn-block btn-lg bg-pink waves-effect" (click)="enviarCorreo()" type="button">Recupera mi contraseña</button>

                <div class="row m-t-20 m-b--5 align-center">
                    <a [routerLink]="['/sign-in']">Ingreso</a>
                </div>
            </form>
        </div>
    </div>
</div>