<div class="signup-box">
    <app-logo-inicio></app-logo-inicio>
    <div class="card">
        <div class="body">
            <form id="signUpForm">
                <div class="msg">Crea una nueva cuenta</div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">email</i>
                    </span>
                    <div class="form-line">
                        <input [(ngModel)]="emailSingUp" id="emailSignUp" type="email" class="form-control" name="emailSignUp" placeholder="Email" required>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input [(ngModel)]="nameSingUp" id="nameSingUp" type="text" class="form-control" name="nameSingUp" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input  [(ngModel)]="passwordSignUp" id="passwordSignUp" type="password" class="form-control" name="passwordSignUp" minlength="8" placeholder="Contraseña" required>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input [(ngModel)]="confirmPasswordSignUp" id="confirmPasswordSignUp" type="password" class="form-control" name="confirm" name="confirmPasswordSignUp" placeholder="Confirma Contraseña"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
                    <label for="terms">He leído y acepto los<a data-toggle="modal" data-target="#terminos_condiciones_modal"> términos y condiciones de uso</a>.</label>
                </div>

                <button class="btn btn-block btn-lg bg-pink waves-effect" type="button" (click)="registrarse()" >Registrarse</button>

                <div class="m-t-25 m-b--5 align-center">
                    <a [routerLink]="['/sign-in']">Ya posees una cuenta?</a>
                </div>
            </form>
        </div>
    </div>

    
</div>
<!-- Terminos y condiciones Modal -->
<div class="modal fade" id="terminos_condiciones_modal" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="teminos_label_modal">Términos y condiciones</h4>
            </div>
            <div class="modal-body">
                <p><strong>POLÍTICA DE PRIVACIDAD</strong></p>
                <p>&nbsp;</p>
                <p>El presente Política de Privacidad establece los términos en que Calcula Mi Nota usa y protege la información que es
                    proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compañía está comprometida con la
                    seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual
                    usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este
                    documento. Sin embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le
                    recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos
                    cambios.</p>
                <p><strong>Información que es recogida</strong></p>
                <p>Nuestro sitio web podrá recoger información personal por ejemplo: Nombre,&nbsp; información de contacto como&nbsp;
                    su dirección de correo electrónica e información académica.</p>
                <p><strong>Uso de la información recogida</strong></p>
                <p>Nuestro sitio web emplea la información con el fin de proporcionar la mejor estimación de notas requeridas y
                    obtenidas de los diferentes cursos insertados en la aplicación. &nbsp;</p>
                <p>Calcula Mi Nota está altamente comprometido para cumplir con el compromiso de mantener su información segura.</p>
                <p><strong>Control de su información personal</strong></p>
                <p>En cualquier momento usted puede restringir la recopilación o el uso de la información personal que es proporcionada
                    a nuestro sitio web.&nbsp; Cada vez que se le solicite rellenar un formulario, como el de alta de usuario, puede
                    marcar o desmarcar la opción de recibir información por correo electrónico. &nbsp;En caso de que haya marcado la
                    opción de recibir nuestro boletín o publicidad usted puede cancelarla en cualquier momento.</p>
                <p>Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento,
                    salvo que sea requerido por un juez con un orden judicial.</p>
                <p>Calcula Mi Nota Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier
                    momento.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" (click)="rechazar_terminos()" data-dismiss="modal">No estoy de acuerdo</button>
                <button type="button" class="btn btn-link waves-effect" (click)="aceptar_terminos()" data-dismiss="modal">Estoy de acuerdo!</button>
            </div>
        </div>
    </div>
</div>
