<div class="login-page-container">
<div class="login-page">
    <div class="login-box">
        <div class="logo">
            <a [routerLink]="['/']"><b>CalculaMiNota</b> <i class="material-icons md-48">school</i> </a>
            <small>Gestor de calficaciones</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_in" method="POST">
                    <div class="msg">Inicia sesión</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="email" class="form-control" name="email" placeholder="Email" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 p-t-5">
                            <input type="checkbox" name="recuerdame" id="recuerdame" class="filled-in chk-col-pink">
                            <label for="recuerdame">Recuerda mi usuario</label>
                        </div>
                        <div class="col-xs-4">
                            <!-- <button class="btn btn-block bg-pink waves-effect" type="submit">Ingresar</button> -->
                            <!-- Usando href en lugar de routerlink porque se queda en pending-->
                            <a href="/dashboard" class="btn btn-block bg-pink waves-effect" type="submit">Ingresar</a>
                        </div>
                    </div>
                    <div class="row m-t-15 m-b--20">
                        <div class="col-xs-6">
                            <a [routerLink]="['/sign-up']">Registrate!</a>
                        </div>
                        <div class="col-xs-6 align-right">
                            <a [routerLink]="['/forgot-password']">Olvidaste la contraseña?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Custom Js 
    <script src="../../js/admin.js"></script>
    <script src="../../js/pages/examples/sign-in.js"></script>
    -->
</div>
</div>
