<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="image">
            <img src="../../assets/images/user.png" width="48" height="48" alt="User" />
        </div>
        <div class="info-container">
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{nombre}}</div>
            <div class="email">{{email}}</div>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="header">Menú</li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a [routerLink]="['/dashboard']">
                    <i class="material-icons">home</i>
                    <span>Inicio</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy; 2018 <a href="https://github.com/orgs/CalculaMiNota/">CalculaMiNota</a>.
        </div>
        <div class="version">
            <b>Version: </b> 0.1
        </div>
    </div>
    <!-- #Footer -->
</aside>
<!-- #END# Left Sidebar -->