<div class="fp-box">
  <app-logo-inicio></app-logo-inicio>
  <div class="card">
    <div class="body">
      <form id="reset_password" method="POST">
        <div class="msg">
          Ingresa tu nueva contraseña
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">email</i>
          </span>
          <div class="form-line">
            <input [(ngModel)]="newResetPassword" type="email" class="form-control" name="email" placeholder="Email"
              required autofocus>
          </div>
        </div>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">email</i>
          </span>
          <div class="form-line">
            <input [(ngModel)]="newResetPasswordConfirmation" type="email" class="form-control" name="email" placeholder="Email"
              required autofocus>
          </div>
        </div>

        <button class="btn btn-block btn-lg bg-pink waves-effect" (click)="cambiaContrasenia()" type="button">Recupera mi
          contraseña</button>

        <div class="row m-t-20 m-b--5 align-center">
          <a [routerLink]="['/sign-in']">Ingreso</a>
        </div>
      </form>
    </div>
  </div>
</div>